.event {
    background-color: #effefb;
    width: 300px;
    height: 200px;
    padding: 50px;
    margin: 15px;   
}

span {
    color: black;
}

.testEvents {
    align-items: center;
    justify-content: center;
    display: flex;
    
    flex-wrap: wrap;
}