/* .chatBoxContainer {
    width: inherit;
    height: 100px;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
    display: block;
} */

.chatBoxContainer {
    display: flex;
    flex-direction: column;
    height: 90vh; /* Adjust the height to your preference */
  }
  
  .messageList {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .messageListInner {
    display: flex;
    flex-direction: column-reverse;
  }

.chatBox {
    width: 95%;
    height: 70px;
    display: flex;
    background-color: #effefb;
    align-items: center;
    border-radius: 10px;
    display: flex;
    margin-inline: auto;
    
}

.chatBoxReal {
        text-decoration: none;
        width: 80%;
        height: auto;
        resize: none;
        background-color: transparent;
        border: none;
        outline: none;
      }
.sendContainer {
    
        height: 35px;
        width: 35px;
        background-color: #00A896;
        align-items: center;
        float: right;
        cursor: pointer;
        padding: 5px;
        object-fit: contain;
        background-size: cover;
        margin: 10px;
        border-radius: 10px;
    }
    
