.chatBoxContainer {
    width: inherit;
    height: 100px;
   
    margin-top: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.chatBox {
    width: 95%;
    height: 70px;
    display: flex;
    background-color: #effefb;
    align-items: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.chatBoxReal {
        text-decoration: none;
        width: 80%;
        height: auto;
        resize: none;
        background-color: transparent;
        border: none;
      }
.sendContainer {
    
        height: 35px;
        width: 35px;
        background-color: #00A896;
        align-items: center;
        float: right;
        cursor: pointer;
        padding: 5px;
        object-fit: contain;
        background-size: cover;
        margin: 10px;
        border-radius: 10px;
    }
    
