.chatName{
    width: inherit;
    height: 50px;
    background-color: #029f91;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  display: flex;
    
  
}

.holder{
  display: flex;
  justify-content: center;
}

 .chatUserTest {
    width: auto;
    height: auto;
    justify-content: center;
    margin-left: 25px;
    display: flex;
    align-items: center;
  } 


  .profileHolder {
    height: 50px; 
    width: auto;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin: auto;
   float: left;
  }

