.bannerImg {
    display: flex;
    width: 1400px;
    height: 530px;
    justify-content: center;
    padding: 0;
    margin: auto;
    text-align: center;
    position: relative;
}

.coverImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    border-radius: 1%;
    z-index: 1;
    position: absolute;
    filter: brightness(50%);
}

.bannerText {
    z-index: 2;
    width: 50%;
    height: auto;
    color: white;
    font-size: 7rem ;
    text-align: left;
    margin-left: 50%;
    padding-top: 6%;
}

.upcomingEvents {
    padding-top: 15px;
    margin-left: 10%;
    
}

.updateSquare {
    width: auto;
    height: 50%;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.updates{
    display: flex;
    justify-content: space-around;
}