
.users-online {
    flex: 2;
    width: auto;
    
    padding-left: 20px;
    padding-right: 20px;
}

.middle-part {
    background-color:#028090;
    flex: 6;
    width: auto;
    border-radius: 10px 10px 0 0;   
    height: 100vh;
    margin: 0 10px 0 10px; 
}

.right-part{
    flex: 3;
    
    width: auto;
    text-align: center ;
    align-items: center;

}
