.post {
    width: 100%;
    border-radius: 10px;
    border: #1fe2ca 1px solid;
    margin: 30px 0;   
    background-color: #effefb;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.postWrapper {
    padding:10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 18px;
    font-weight: 500;
    margin: 0  10px; 
    color: #003331;
}

.postCategory {
    font-size: 12px;
    color: #003331;
}

.postText {
    margin: 10px 0;
    color: #003331;
}


.postCenter {
    margin: 20px 0;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}

.postReact{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postReactCounter{
    font-size: 15px;
    color: #003331;
}

.postCommentText{
    cursor:pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
    color: #003331;
}